<div class="test">test</div>
<div class="name">{{model.name}}</div>
<div class="amount">{{model.amount}}</div>
<div class="player">{{model.player.name}}</div>
<div class="ledger">{{model.player.ledger.title}}</div>